.header {
  background-color: $themes-primary;
  color: $head-footer-font-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 88px 29.43px 88px;
  font-size: 20px;
  @include tablet() {
    padding: 30px 39px 29.43px 39px;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;

    img {
      width: 48px;
      height: 29px;
      padding-top: 10px;
      padding-bottom: 10.86px;
    }
  }
  ul {
    display: flex;
    @include mobile {
      width: 100%;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      li {
        width: 50%;
        height: 45px;
        box-sizing: border-box;
        border: #ffffff solid 1px;
        padding-top: 8px;
      }
      li:hover {
        border: solid 1px #8ba7bc;
      }
    }
    li:not(:last-child) {
      margin-right: 64px;
      @include tablet() {
        margin-right: 40px;
      }
      @include mobile {
        margin-right: 0px;
      }
    }
  }
  a {
    color: $head-footer-font-color;
  }
}

.footer {
  background-color: $themes-primary;
  color: $head-footer-font-color;
  padding-top: 44px;
  padding-bottom: 39px;
  @include tablet {
    padding-top: 38px;
    padding-bottom: 21px;
  }
  @include mobile {
    padding-top: 25px;
    padding-bottom: 24px;
  }
  a {
    color: $head-footer-font-color;
  }
  &-contain {
    width: 1110px;
    margin: 0 auto;
    @include tablet {
      width: 690px;
    }
    @include mobile {
      width: 334.5px;
    }
  }
  .contact {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 24px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include tablet {
      padding-bottom: 20px;
      margin-bottom: 24px;
    }
    @include mobile {
      padding-bottom: 24px;
      margin-bottom: 16px;
    }

    &-nav {
      display: flex;
      padding-top: 12px; //為了與右側的icon對齊
      margin-bottom: 36px;
      @include tablet {
        padding-top: 6px;
        margin-bottom: 18px;
      }
      @include mobile {
        display: none;
      }
      li:not(:last-child) {
        margin-right: 48px;
        @include tablet {
          margin-right: 40px;
        }
      }
    }

    &-info {
      font-family: "Roboto", sans-serif;
      font-size: 36px;
      @include tablet {
        font-size: 20px;
      }
      @include mobile {
        font-size: 16px;
      }
      li {
        //不知道為甚麼兩行的文字無法對齊
        &:first-child {
          margin-bottom: 16px;
          @include tablet {
            margin-bottom: 12px;
          }
          @include mobile {
            margin-bottom: 6px;
          }
          img {
            margin-right: 22px;
            @include tablet {
              width: 18px;
              height: 18px;
              margin-right: 11px;
            }
            @include mobile {
              width: 15px;
              height: 15px;
              margin-right: 6.5px;
            }
          }
        }
        &:last-child img {
          width: 40px;
          height: 32px;
          margin-right: 20px;
          @include tablet {
            width: 20px;
            height: 16px;
            margin-right: 10px;
          }
          @include mobile {
            width: 16.67px;
            height: 13.33px;
            margin-right: 6.67px;
          }
        }
      }
      img {
        display: inline-block;
      }
    }

    &-thirdparty {
      display: flex;
      li:not(:last-child) {
        margin-right: 32px;
        @include tablet {
          margin-right: 24px;
        }
      }
      @include tablet {
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      font-size: 14px;
    }
    ul {
      display: flex;
      font-size: 14px;
      li:not(:last-child) {
        margin-right: 48px;
        @include tablet {
          margin-right: 24px;
        }
      }
      @include tablet {
        padding-top: 12px;
      }
      @include mobile {
        flex-direction: column;
        padding-top: 0px;
        li {
          margin-top: 8px;
        }
      }
    }
  }
}
