/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Noto Sans TC, Roboto;
  line-height: 1.5; }

a {
  text-decoration: none; }

img {
  display: block; }

.header {
  background-color: #aa0601;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 88px 29.43px 88px;
  font-size: 20px; }
  @media (max-width: 768px) {
    .header {
      padding: 30px 39px 29.43px 39px; } }
  @media (max-width: 375px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0px 0px 0px 0px; }
      .header img {
        width: 48px;
        height: 29px;
        padding-top: 10px;
        padding-bottom: 10.86px; } }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 375px) {
      .header ul {
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .header ul li {
          width: 50%;
          height: 45px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border: #ffffff solid 1px;
          padding-top: 8px; }
        .header ul li:hover {
          border: solid 1px #8ba7bc; } }
    .header ul li:not(:last-child) {
      margin-right: 64px; }
      @media (max-width: 768px) {
        .header ul li:not(:last-child) {
          margin-right: 40px; } }
      @media (max-width: 375px) {
        .header ul li:not(:last-child) {
          margin-right: 0px; } }
  .header a {
    color: #ffffff; }

.footer {
  background-color: #aa0601;
  color: #ffffff;
  padding-top: 44px;
  padding-bottom: 39px; }
  @media (max-width: 768px) {
    .footer {
      padding-top: 38px;
      padding-bottom: 21px; } }
  @media (max-width: 375px) {
    .footer {
      padding-top: 25px;
      padding-bottom: 24px; } }
  .footer a {
    color: #ffffff; }
  .footer-contain {
    width: 1110px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .footer-contain {
        width: 690px; } }
    @media (max-width: 375px) {
      .footer-contain {
        width: 334.5px; } }
  .footer .contact {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 24px;
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 768px) {
      .footer .contact {
        padding-bottom: 20px;
        margin-bottom: 24px; } }
    @media (max-width: 375px) {
      .footer .contact {
        padding-bottom: 24px;
        margin-bottom: 16px; } }
    .footer .contact-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 12px;
      margin-bottom: 36px; }
      @media (max-width: 768px) {
        .footer .contact-nav {
          padding-top: 6px;
          margin-bottom: 18px; } }
      @media (max-width: 375px) {
        .footer .contact-nav {
          display: none; } }
      .footer .contact-nav li:not(:last-child) {
        margin-right: 48px; }
        @media (max-width: 768px) {
          .footer .contact-nav li:not(:last-child) {
            margin-right: 40px; } }
    .footer .contact-info {
      font-family: "Roboto", sans-serif;
      font-size: 36px; }
      @media (max-width: 768px) {
        .footer .contact-info {
          font-size: 20px; } }
      @media (max-width: 375px) {
        .footer .contact-info {
          font-size: 16px; } }
      .footer .contact-info li:first-child {
        margin-bottom: 16px; }
        @media (max-width: 768px) {
          .footer .contact-info li:first-child {
            margin-bottom: 12px; } }
        @media (max-width: 375px) {
          .footer .contact-info li:first-child {
            margin-bottom: 6px; } }
        .footer .contact-info li:first-child img {
          margin-right: 22px; }
          @media (max-width: 768px) {
            .footer .contact-info li:first-child img {
              width: 18px;
              height: 18px;
              margin-right: 11px; } }
          @media (max-width: 375px) {
            .footer .contact-info li:first-child img {
              width: 15px;
              height: 15px;
              margin-right: 6.5px; } }
      .footer .contact-info li:last-child img {
        width: 40px;
        height: 32px;
        margin-right: 20px; }
        @media (max-width: 768px) {
          .footer .contact-info li:last-child img {
            width: 20px;
            height: 16px;
            margin-right: 10px; } }
        @media (max-width: 375px) {
          .footer .contact-info li:last-child img {
            width: 16.67px;
            height: 13.33px;
            margin-right: 6.67px; } }
      .footer .contact-info img {
        display: inline-block; }
    .footer .contact-thirdparty {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .contact-thirdparty li:not(:last-child) {
        margin-right: 32px; }
        @media (max-width: 768px) {
          .footer .contact-thirdparty li:not(:last-child) {
            margin-right: 24px; } }
      @media (max-width: 768px) {
        .footer .contact-thirdparty img {
          width: 24px;
          height: 24px; } }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 375px) {
      .footer .copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 14px; } }
    .footer .copyright ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 14px; }
      .footer .copyright ul li:not(:last-child) {
        margin-right: 48px; }
        @media (max-width: 768px) {
          .footer .copyright ul li:not(:last-child) {
            margin-right: 24px; } }
      @media (max-width: 768px) {
        .footer .copyright ul {
          padding-top: 12px; } }
      @media (max-width: 375px) {
        .footer .copyright ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          padding-top: 0px; }
          .footer .copyright ul li {
            margin-top: 8px; } }

.index-main {
  color: #650300; }
  .index-main h1,
  .index-main h2,
  .index-main h3 {
    font-weight: bold; }
  .index-main h1 {
    font-size: 64px; }
  .index-main h2 {
    font-size: 48px;
    margin-top: 60px;
    margin-bottom: 40px; }
  .index-main h3 {
    font-size: 24px; }

.banner {
  background: url(../images/banner.png) center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 348px 20% 352px 48%; }
  .banner span {
    font-size: 36px; }

.strength {
  background-color: #aa06010d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto; }
  .strength ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px; }
    .strength ul li {
      width: 255px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 30px; }
      .strength ul li span {
        color: #000000; }
  .strength img {
    width: 83.83px;
    height: 83.83px; }

.classic-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px; }
  .classic-frame li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .classic-frame li:not(:last-child) {
      margin-bottom: 32px; }
    .classic-frame li img {
      margin-right: 30px; }
    .classic-frame li:nth-child(even) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      .classic-frame li:nth-child(even) > img {
        margin-left: 30px;
        margin-right: 0px; }
    .classic-frame li p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .classic-frame li p img {
        width: 44px;
        height: 44px;
        margin-right: 10px; }
    .classic-frame li span {
      font-size: 48px;
      color: #aa0601;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-style: italic; }

/*# sourceMappingURL=all.css.map */
