/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Noto Sans TC, Roboto;
  line-height: 1.5; }

a {
  text-decoration: none; }

img {
  display: block; }

a {
  color: #ffffff; }

.header {
  height: 108px;
  background-color: #aa0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 88px;
  padding-right: 88px;
  font-size: 20px; }
  @media (max-width: 768px) {
    .header {
      padding-left: 39px;
      padding-right: 39px; } }
  @media (max-width: 375px) {
    .header {
      height: 140px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-left: 0px;
      padding-right: 0px; }
      .header img {
        width: 48px;
        height: 29px; } }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 375px) {
      .header ul {
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .header ul li {
          width: 50%;
          height: 45px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border: #ffffff solid 1px; } }
    .header ul li:not(:last-child) {
      margin-right: 64px; }
      @media (max-width: 768px) {
        .header ul li:not(:last-child) {
          margin-right: 40px; } }
      @media (max-width: 375px) {
        .header ul li:not(:last-child) {
          margin-right: 0px; } }

.footer {
  background-color: #aa0601;
  color: #ffffff;
  padding-top: 44px;
  padding-bottom: 39px; }
  .footer-contain {
    width: 1110px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .footer-contain {
        width: 690px; } }
  @media (max-width: 768px) {
    .footer {
      padding-top: 38px;
      padding-bottom: 21px; } }
  .footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 36px; }
    @media (max-width: 768px) {
      .footer .links {
        margin-bottom: 18px; } }
    .footer .links ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .links ul:nth-child(1) li:not(:last-child) {
        margin-right: 48px; }
        @media (max-width: 768px) {
          .footer .links ul:nth-child(1) li:not(:last-child) {
            margin-right: 40px; } }
      @media (max-width: 768px) {
        .footer .links ul:nth-child(2) img {
          width: 24px;
          height: 24px; } }
      .footer .links ul:nth-child(2) li:not(:last-child) {
        margin-right: 32px; }
        @media (max-width: 768px) {
          .footer .links ul:nth-child(2) li:not(:last-child) {
            margin-right: 24px; } }
  .footer .contact {
    border-bottom: 1px solid #ffffff;
    font-size: 36px;
    padding-bottom: 24px;
    font-family: "Roboto", sans-serif; }
    @media (max-width: 768px) {
      .footer .contact {
        font-size: 20px;
        padding-bottom: 20px; } }
    .footer .contact li:not(:last-child) {
      margin-bottom: 16px; }
      @media (max-width: 768px) {
        .footer .contact li:not(:last-child) {
          margin-bottom: 12px; } }
    .footer .contact li img {
      display: inline-block;
      margin-right: 20px; }
      @media (max-width: 768px) {
        .footer .contact li img {
          margin-right: 10px;
          width: 18px;
          height: 18px; } }
  .footer .copyright {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .footer .copyright {
        margin-top: 24px; }
        .footer .copyright ul {
          margin-top: 36px; } }
    .footer .copyright ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 14px; }
      .footer .copyright ul li:not(:last-child) {
        margin-right: 48px; }
        @media (max-width: 768px) {
          .footer .copyright ul li:not(:last-child) {
            margin-right: 24px; } }

.box {
  width: 100px;
  height: 100px;
  background-color: #002df8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .box:hover {
    width: 200px;
    background-color: #00cc99; }

/*# sourceMappingURL=all.css.map */
